.input-container {
    padding-bottom: 15px;
}

.input-label {
    display: inline-block;

    margin-bottom: 8px;
    line-height: 24px;
    font-size: var(--font-size-md);
}

.input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    padding: 14px 10px;

    font-size: var(--font-size-base);
    border-radius: var(--border-radius-base);
    color: var(--black);
    transition: box-shadow var(--animation-duration-base) var(--ease-in-out-base);

    background-color: #99999926;
    border: 0;
    cursor: text;
    flex: 1 1;
    font-family: sans-serif;
    margin-top: 8px;
    min-width: 0;
    outline: none;
}

.input::placeholder {
  color: grey;
}
