@import '../index.css';

/* components */
@import '../components/button.css';
@import '../components/input.css';
@import '../components/link.css';


.form-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 100%;
}

h4 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl) ;
    text-align: center;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 500;
}

.form {
    margin-bottom: 14px;
}

.auth-button {
    background: linear-gradient(134.26deg, #21a19a 15.93%, #44d370 85.52%);
}
