*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    height: 100%;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

legend {
    padding-inline: 0;
}

fieldset {
    margin-inline: 0;

    border: none;
    padding-inline: 0;
    padding-block: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}
