---

styles: ../styles/pages/error.css

meta:
    description: Страница не найдена
    title: 404

link:
    href: './chat.hbs'
    text: На главную

---

{{#extend "main"}}
    {{#content "main"}}
        <main class="main">
            <div class="grid">
                <div class="row row-center">
                    <div class="col col-xs-12">
                        <div class="error">
                            <h2 class="error-title">404</h2>
                            <p class="error-description">Обыскали весь сайт, но такой страницы не нашли...</p>
                            {{>link}}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
