---
meta:
    description: Изменить пароль
    title: Change password

styles: ../styles/pages/change-password.css
scripts: ../scripts/index.js

sidebar:
    href: ./chat.hbs

fields:
    - input:
        id: oldPassword
        label: Старый пароль
        name: oldPassword
        value: oldPassword
        type: password
    - input:
        id: newPassword
        label: Новый пароль
        name: newPassword
        value: newPassword
        type: password
    - input:
        id: repeatNewPassword
        label: Повторите новый пароль
        name: repeatNewPassword
        value: repeatNewPassword
        type: password
button:
    id: 'save'
    text: Сохранить
    type: submit
    className: 'button-save'
---


{{#extend "main"}}
    {{#content "main"}}
        <main class="main">
            <section class="grid">
                <div class="row">
                    <div class="column column-xs-1">
                        {{>sidebar}}
                    </div>
                    <div class="row row-center">
                        <div class="column column-xs-7">
                            <form class="profile-form">
                            {{>avatar-upload}}

                            <ul class="profile-form-list">
                                {{#each fields}}
                                    <li class="profile-form-item-field">
                                        {{>input}}
                                    </li>
                                {{/each}}
                            </ul>
                            </form>
                            {{>button}}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {{/content}}
{{/extend}}
