---
meta:
    description: Изменить данные профиля
    title: Change data profile

styles: ../styles/pages/change-profile.css

sidebar:
    href: ./chat.hbs

fields:
    - profile-form-field:
        label: Почта
        ID: email-change-profile
        name: email
        value: pochta@yandex.ru
        type: email
    - profile-form-field:
        label: Логин
        ID: login-change-profile
        name: login
        value: ivanivanov
        type: text
    - profile-form-field:
        label: Имя
        ID: name-change-profile
        name: name
        value: Иван
        type: text
    - profile-form-field:
        label: Фамилия
        ID: surname-change-profile
        name: surname
        value: Иванов
        type: text
    - profile-form-field:
        label: Имя в чате
        ID: displayname-change-profile
        name: displayname
        value: Иван
        type: text
    - profile-form-field:
        label: Телефон
        ID: phone-change-profile
        name: phone
        value: +7 (909) 967 30 30
        type: tel

button:
    text: Сохранить
    type: submit
    id: save-change-profile
    className: 'button-save'
---

{{#extend "main"}}
    {{#content "main"}}
        <main class="main">
            <section class="grid">
                <div class="row">
                    <div class="column column-xs-1">
                        {{>sidebar}}
                    </div>
                    <div class="row row-center">
                        <div class="column column-xs-7">
                            <form class="profile-form">
                                {{>avatar-upload}}

                                <ul class="profile-form-list">
                                    {{#each fields}}
                                        <li class="profile-form-item">
                                            {{>change-profile-field}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </form>
                            {{>button}}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {{/content}}
{{/extend}}
