{{#block "meta"}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, user-scalable=1.0, initial-scale=1">
    {{#if meta}}
        <meta name="description" content="{{meta.description}}">
        <title>{{meta.title}}</title>
    {{/if}}
{{/block}}
