{{#if profile-field}}
    <div class="profile-form-field {{profile-field.className}}">
        <label class="profile-form-label">{{profile-field.label}}</label>
        <span>{{profile-field.value}}</span>
    </div>
{{/if}}
