.grid {
    margin-left: auto;
    margin-right: auto;

    max-width: 1300px;
    height: 100%;
}


.column {
    padding-left: 10px;
    padding-right: 10px;

    min-height: 1px;
}

.column-xs-1 {
    width: calc((100% / 12) * 1);
}

.column-xs-3 {
    width: calc((100% / 12) * 3);
}

.column-xs-6 {
    width: calc((100% / 12) * 6);
}

.column-xs-9 {
    width: calc((100% / 12) * 9);
}

.column-xs-11 {
    width: calc((100% / 12) * 11);
}

.col-xs-12 {
    width: calc((100% / 12) * 12);
}

.row {
    margin-left: -10px;
    margin-right: -10px;

    display: flex;
    height: 100%;
}

.row-center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
