---
styles: styles/pages/auth.css
scripts: scripts/index.js

button:
    text: Авторизоваться
    type: submit
    id: auth
    className: auth-button

inputs:
- input:
    label: Логин
    ID: login
    name: login
    type: text
    error: Неверный логин
    placeholder: Введите логин
- input:
    label: Пароль
    ID: password
    name: password
    type: password
    error: Неверный пароль
    placeholder: Введите пароль

link:
    text: Нет аккаунта?
    href: 'pages/registration.hbs'
---
{{#extend "main"}}
    {{#content "main"}}
<!--        Временное решение, для рендера страничек-->
        <a href="pages/chat.hbs"></a>
        <a href="pages/404.hbs"></a>
        <a href="pages/505.hbs"></a>
        <div class="grid">
            <div class="row row-center">
                <div class="column col-xs-12">
                    <div class="form-wrapper">
                        <form
                                action="/"
                                method="POST"
                                id="login"
                                class="form">
                            <h4>Вход</h4>
                            {{#each inputs}}
                                {{>input}}
                            {{/each}}
                            {{>button}}
                        </form>
                        {{>link}}
                    </div>
                </div>
            </div>
    </div>
    {{/content}}
{{/extend}}
